.bank_block {
  padding: 80vw * $px 158vw * $px 195vw * $px;
  font-family: OpenSans, sans-serif;

  .title-1 {
    margin: 0 auto 50vw * $px;
    text-align: center;
    text-transform: initial;
    font-variant: initial;
  }

  &-list {
    &_item {
      border-bottom: 6vw * $px solid $grey;

      &:first-of-type {
        border-top: 6vw * $px solid $grey;
      }

      &.active {
        border-bottom: 6vw * $px solid transparent;

        .vert {
          opacity: 0;
        }

        .toggle_text {
          opacity: 1;
        }
      }

      .toggle_title {
        cursor: pointer;
        padding: 40vw * $px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 48vw * $px;
        line-height: 0.9;

        &_icon {
          width: 30vw * $px;
          height: 30vw * $px;

          rect {
            opacity: 1;
            transition: all 0.4s ease;
          }

          svg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
          }
        }
      }

      .toggle_text {
        display: none;
        padding: 50vw * $px 42vw * $px;
        background: $grey;
        font-size: 24vw * $px;
        line-height: 1.2;
        font-weight: 300;
        opacity: 0;
        transition: opacity 0.4s ease;
      }

    }
  }

  b {
    font-weight: 700;
  }
}

@media only screen and (min-width: $containerWidth) {
  .bank_block {
    padding: 80px 158px 195px;

    .title-1 {
      margin: 0 auto 50px;
    }

    &-list {
      &_item {
        border-bottom: 6px solid $grey;

        &:first-of-type {
          border-top: 6px solid $grey;
        }

        &.active {
          border-bottom: 6px solid transparent;
        }

        .toggle_title {
          padding: 40px;
          font-size: 48px;

          &_icon {
            width: 30px;
            height: 30px;

          }
        }

        .toggle_text {
          padding: 50px 42px;
          font-size: 24px;
        }

      }
    }

  }
}
