.block_one {
  display: flex;
  align-items: center;
  padding: 50vw * $px 75vw * $px 50vw * $px 30vw * $px;
  background: $white;
  margin: 50vw * $px auto 100vw * $px;

  &:last-of-type {
    margin-bottom: 50vw * $px;
  }

  &-info {
    padding: 50vw * $px 100vw * $px 50vw * $px 0;
    line-height: 0.9;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

    &_title {
      text-transform: lowercase;
      font-variant-caps: petite-caps;
      font-size: 64vw * $px;
      margin-bottom: 100vw * $px;
    }

    &_text {
      margin-bottom: 100vw * $px;
      font-weight: 300;
      font-size: 30vw * $px;
    }
  }

  &-img {
    width: 624vw * $px;
    min-width: 624vw * $px;
    height: 640vw * $px;
  }

}

@media only screen and (min-width: $containerWidth) {
  .block_one {
    padding: 50px 75px 50px 30px;
    margin: 50px auto 100px;

    &:last-of-type {
      margin-bottom: 50px;
    }

    &-info {
      padding: 50px 100px 50px 0;

      &_title {
        font-size: 64px;
        margin-bottom: 100px;
      }

      &_text {
        font-size: 30px;
        margin-bottom: 100px;
      }
    }

    &-img {
      width: 624px;
      min-width: 624px;
      height: 640px;
    }

  }
}
