.footer {
  background: $black;
  color: $white;
  min-height: 390vw * $px;

  .container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30vw * $px 108vw * $px 30vw * $px 34vw * $px;
  }

  &_logo {
    margin-right: auto;
    width: 284vw * $px;

    img {
      object-fit: contain;
    }
  }

  .lang {
    &-item {
      &:after {
        background: $white;
      }
    }
  }

  .arr_btn {
    position: absolute;
    top: 50%;
    right: 44vw * $px;
    transform: translate(50%, -50%);
  }
}

@media only screen and (min-width: $containerWidth) {
  .footer {
    min-height: 390px;

    .container {
      padding: 30px 108px 30px 34px;
    }

    &_logo {
      width: 285px;
    }

    .arr_btn {
      right: 44px;
    }
  }
}
