.width_block {
  width: 100%;
  background: $white;

  &.black {
    background: $black;
    color: $white;

    .width_block-banner {
      &::after {
        background: linear-gradient(0deg, $black 0%, rgba(0, 0, 0, 0) 100%);
      }
    }

  }

  &.half {
    font-family: OpenSans, sans-serif;

    .width_block-info {
      padding: 0 110vw * $px 92vw * $px;
      transform: translateY(-60vw * $px);
      display: flex;
      align-items: center;

      &_title {
        max-width: 100%;
        margin-bottom: 68vw * $px;
      }

      //&_text {
      //  font-size: 24vw * $px;
      //}
    }
  }

  &-banner {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 340vw * $px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 180vw * $px;
      background: linear-gradient(0deg, $white 30%, rgba(0, 0, 0, 0) 100%);
    }

  }

  &-info {
    padding: 67vw * $px 30vw * $px 80vw * $px;

    &_title {
      text-transform: lowercase;
      max-width: 60%;
      font-size: 64vw * $px;
      line-height: 0.9;
      margin-bottom: 45vw * $px;
    }

    &_text {
      font-size: 28vw * $px;
      line-height: 1.05;
    }

    .left_part {
      img {
        width: 390vw * $px;
        object-fit: contain;
        margin: 0 85vw * $px;
      }
    }
  }

  p {
    margin-bottom: 20vw * $px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &_pre-title {
    text-align: center;
    margin-bottom: 100vw * $px;
  }

}


@media only screen and (min-width: $containerWidth) {
  .width_block {
    &.half {
      .width_block-info {
        padding: 0 110px 92px;
        transform: translateY(-60px);

        &_title {
          margin-bottom: 68px;
        }

        //&_text {
        //  font-size: 24px;
        //}

      }
    }

    &-banner {
      height: 340px;

      &::after {
        height: 180px;
      }

    }

    &-info {
      padding: 67px 30px 80px;

      &_title {
        font-size: 64px;
        margin-bottom: 45px;
      }

      &_text {
        font-size: 28px;
      }

      .left_part {
        img {
          width: 390px;
          margin: 0 85px;
        }
      }

    }


    p {
      margin-bottom: 20px;
    }

    &_pre-title {
      margin-bottom: 100px;
    }

  }
}
