// Main color
$black: #000;
$grey: #E5E5E5;
$yellow: #FAD849;
$blue: #3A83F7;
$white: #fff;

// Font
$mainFont: Roboto, sans-serif;

// Sizes
$containerWidth: 1600px;
$mobileWidth: 768px;
$px: 0.0625; //  100 / 1600(ширина макету)
$pxm: 0.2083; //  100 / 480(ширина макету)

$mainFontColor: $black;
$bodyWhite: #F7F8F9;
$mainFontWeight: 400;
$mainLineHeight: 1.2;
$mainFontSize: 24vw * $px;
$mainFontSizeMax: 24px;
$mainFontSizeMobile: 20px;
